$primarycolor: #13171c;
$active: #ad5dc1;
$disable: #231e2d;
$titlecolor: #dfe1e3;
$textcolor: #c5c7ca;
$navshadow: #090c0f;

*,
html {
	margin: 0;
	padding: 0;
	color: $textcolor;
}

body {
	font-family: "Ubuntu", sans-serif;
	background-color: $primarycolor;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	padding: 20px;
}

footer {
	background-color: $primarycolor;
	color: white;
	text-align: center;
	padding: 10px;
	box-shadow: 0 0 10px -2px $navshadow;
}

.navbar {
	position: sticky;
	top: 0;
	background-color: $primarycolor;
	display: flex;
	justify-content: center;
	box-shadow: 0 0 10px -2px $navshadow;
}

.navbar li {
	list-style-type: none;
	margin: 10px 32px;
	padding: 20px 10px;
}

.navbar li a {
	color: white;
	text-decoration: none;
	border-color: $textcolor;
	border-radius: 8px;
}

.navbar > li > a:hover {
	text-decoration: underline;
	color: $textcolor;
}

.navbar li a.current {
	color: $active;
}

// ----------------------------- Home ------------------------------- //

.hero {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.profile {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 4rem;
	}
}

.container {
	margin: 20px 140px;
}

.container > h1 {
	color: $titlecolor;
}

.container p {
	line-height: 1.5;
}

.profile-picture {
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

.namasaya {
	font-size: 36px;
	font-weight: bold;
	background: linear-gradient(
		90deg,
		$active,
		$textcolor,
		$active,
		$textcolor,
		$active
	);
	background-size: 400% 100%;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: colorFlow 6s linear infinite;
}

@keyframes colorFlow {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

// --------------------------- Home Mobile ----------------------------- //
@media (max-width: 414px) {
}

// ----------------------------- Friends ------------------------------- //

.list-friends {
	list-style: none;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;

	li {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 8px 0 0 0;
		a {
			text-decoration: none;
			color: inherit;
			background: $disable;
			border-radius: 10px;
			padding: 20px;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
			transition: transform 0.2s ease, box-shadow 0.2s ease;
		}

		a:hover {
			color: $active;
			text-decoration: underline;
			transform: translateY(-4px);
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
		}
	}
}

@media (max-width: 414px) {
	.container {
		margin: 20px 40px;
	}

	.list-friends {
		display: block;
		li {
			display: block;
			a {
				display: flex;
				justify-content: center;
			}
		}
	}
}

// ----------------------------- Blog ------------------------------- //

.card {
	display: block;
	padding: 1.5rem;
	background-color: $disable;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	color: inherit;
	text-decoration: none;
}

.card li a:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card li {
	padding: 0; /* hilangkan padding karena sudah di dalam <a> */
}

.post-list {
	list-style-type: none;
}

.post-item {
	border-radius: 12px;
	margin-bottom: 2rem;
	padding: 1rem;
	border-left: 8px solid $disable;
	background: rgba(0, 0, 0, 0.3);
	margin: 1rem 2rem;
}

.post-item a {
	font-size: 24px;
	:hover {
		color: $active;
	}
}

.post-item:hover {
	border-left: 8px solid $active;
}

.post-item a {
	text-decoration: none;
}

.post-item a:hover {
	text-decoration: underline;
}

.post-date {
	margin: 12px 0;
}
